.git
.gitignore
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
test
stress-test
.eslintrc.js
.eslintignore
schema.sql
jest.config.js
client/src
client/dist/styles.css
database/mongo
node_modules
client/dist/main.js
sdc.csv
newrelic.js
newrelic_agent.log
database/postgres/config.js
webpack.config.js
.babelrc
database/createReviews.js
database/csv.js



# To prevent storing dev/temporary container data
*.csv
tmp