.git
.gitignore
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
test
stress-test
.eslintrc.js
.eslintignore
schema.sql
jest.config.js

database/mongo
database/seed.js
node_modules
sdc.csv
newrelic_agent.log
database/createReviews.js
database/csv.js



# To prevent storing dev/temporary container data
*.csv
tmp